---
layout: main
---
<!-- <head> <link rel="stylesheet" href="mystyle.css"> </head> -->
<style>
  iframe {
  height:calc(100vh - 4px);
  width:calc(100vw - 4px);
  box-sizing: border-box;
}
</style>
<div class="content-box">
  <article class="article-page">
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">Pranjal Singh Rajput</h1>
      </header>
      <div class="page-description">
        I have completed my Masters in Embedded Systems with a specialization in Machine Learning at TU Delft. I have a
        diverse background in Machine learning and Deep Learning starting from data analysis to training deep learning
        models and working on computer vision applications using deep learning. I'm also an experienced Full-Stack
        Software Engineer with a demonstrated history of working in the computer software industry for more than 3
        years.

        Currently, I'm looking for opportunities in the field of AI/Machine Learning and also open for the Software
        Engineering positions, where I can leverage my knowledge in the field and my work experience in contributing to
        real-world problems.

        <!-- I recently started my PhD at <a href="https://niessnerlab.org/index.html">Visual Computing and AI Lab, TUM</a>
        advised by <a href="https://niessnerlab.org/members/matthias_niessner/profile.html">Prof. Matthias Nießner</a>
        Prior to that, I obtained my Masters degree in Informatics (Magna cum Laude) from Technical University of Munich
        and Bachelors degree (Gold Medalist) in Computer Science from National Institute of Technology, Hamirpur
        (India). My research interest lies at the intersection of deep learning, computer vision, natural language
        processing, and media forensics. My master thesis was focused on building a generalized pipeline for detecting
        in-the-wild deepfake videos surfacing the internet. With my projects, I wish to solve real-world AI problems
        that can have a positive impact on the society. -->
      </div>
      <br>

      <div class="page-description">
        Master Thesis : <a href="http://resolver.tudelft.nl/uuid:4aa3e58f-c273-4a32-9a9e-c35076490e0d" target="_blank">
          Heuristics2Annotate: Efficient annotation of a large-scale in-the-wild
          marathon dataset for bounding box regression.</a>
      </div>
      <br>

      <!-- <div class="page-description">
        Research Interests : Domain Transfer, Zero/Few-Shot Learning, Media Forensics
      </div> -->
    </div>


    

    <!-- <div class="colorlib-narrow-content">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
          <h2 class="colorlib-heading animate-box">Education</h2>
        </div>
      </div>

      <div class="row my-auto">
        <div class="col-12">
        </div>
        <div class="main-award" id="award-box">

          <div class="award">
            <div class="award-icon"></div>
            <div class="award-content">
              <span class="date">May 2020 - Present</span>
              <h5 class="title">PhD from Visual Computing Lab, TUM</h5>
            </div>
          </div>

          <div class="award">
            <div class="award-icon"></div>
            <div class="award-content">
              <span class="date">Oct 2017 - Apr 2020</span>
              <h5 class="title">M.S. in Informatics (Deep Learning & Computer Vision)</h5>
              <p class="description">
                Magna Cum Laude
              </p>
            </div>
          </div>
          <div class="award">
            <div class="award-icon"></div>
            <div class="award-content">
              <span class="date">Aug 2011 - May 2015</span>
              <h5 class="title">B.Tech. in Computer Science</h5>
              <p class="description">
                Awarded <strong>Gold Medal</strong> for graduating top of Computer Science Batch (2011-2015)
              </p>
            </div>
          </div>

          <div class="award">
            <div class="award-icon"></div>
            <div class="award-content">
              <span class="date">Apr 2007 - March 2011</span>
              <h5 class="title">High School</h5>
              <p class="description">
                Awarded <strong>Roll Of Honour</strong> for graduating top of the High School (Science and Mathematics).
              </p>
            </div>
          </div>


        </div>
      </div> -->


      




      <!-- {% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></i></a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>

    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

{% include pagination.html %} -->
</article>

<iframe src="timeline.html" frameBorder="0"></iframe>
<!-- <iframe src="test.html" onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()"></iframe> -->
</div>

