---
layout: main
---

<div class="content-box">
  <article class="article-page">
  <div class="wrap-content">
    <header class="header-page">
      <h1 class="page-title">Summer Schools</h1>
    </header>
    

  
</div>

{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="zoom: 0.1; background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html}}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}</span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
